.container {
    /* border: 2px solid red; */
    margin-bottom: 20px;
}

.grid {
    display: grid;
    /* grid-template-columns: repeat(2, 100px);
    grid-template-rows: repeat(1, 100px); */
    grid-template-columns: repeat( auto-fill, minmax(200px,500px));
    /* grid-template-columns: repeat( auto-fit, minmax(200px,50px)); */
    grid-template-rows: repeat(4, 200px);
    gap: 10px;
    background-color: lightblue;
    padding: 10px;
    justify-content: spa;
}

.inline-grid {
    display: inline-grid;
    /* grid-template-columns: repeat(2, 100px); */
    /* grid-template-rows: repeat(1, 100px); */
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr;
    
    
    gap: 10px;
    background-color: lightgreen;
    padding: 10px;
}

.item {
    background-color: coral;
    text-align: center;
    line-height: 50px;
    border: 1px solid black;
}